

.about{
display: flex;
flex-direction: column;
justify-content: center;

}




@media screen and (max-width:767px){

h1{
    display:flex;
    justify-content: center;
 
}

p{
    display:flex;
 justify-content:center;
}

img {
max-width: 300px;
max-height: 300px;
display: block;
  margin: 0 auto;
}
}