

nav {

background-color:red;
border-bottom: 2px solid black;

}



footer {
padding: 10px 0 10px 0;
color: white;
background-color: red;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}

.f {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
 
}
 